*
{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    background-image: url("kerala.jpg");
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
   background: thistle;
   width:480px;
   
   
   
}
.submit
{
    text-align: center;
    color: white;
}